<%- include('partials/header') %>
<%- include('partials/modal') %>

<h1 class="decisions">Decisions, Decisions!</h1>


        <a href="/recipes/<%= recipe._id %>" class="btn btn-primary"><%= recipe.recipe_name %></a>
      </div>
        <img src="assets/testpic.jpeg" class="card-img-bottom" alt="...">
      
    </div>
  </div>
  <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          
          <a href="/recipes/<%= recipe._id %>" class="btn btn-primary"><%= recipe.recipe_name %></a>
        </div>
          <img src="assets/testpic.jpeg" class="card-img-bottom" alt="...">
        
      </div>
    </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        
        <a href="/recipes/<%= recipe._id %>" class="btn btn-primary"></a><%= recipe.recipe_name %></a>
      </div>
        <img src="assets/testpic.jpeg" class="card-img-bottom" alt="...">
      
    </div>
  </div>
</div>



<% recipes.forEach((recipe) => { %>
  <div>
    <h3><a href="/recipes/<%= recipe._id %>"><%= recipe.recipe_name %></a></h3>
    <h6><%= recipe.author %></h6>
  </div>

<% }) %>

<%- include('partials/footer')  %>